<h1>Add your new dream vacation spot</h1>

<form action="/dreamspots" method="POST">
<label for="name">Vacation Name: </label>
<input type="text" name="name">
<br>
<br>
<label for="country">Vacation Location: </label>
<input type="text" name="country">
<br>
<br>
<label for="season">Best Season for going: </label>
<input type="text" name="season">
<br>
<br>
<input type="submit" value="ADD">
</form>