<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome fellow day dreamers!!</h2>

    <div class="content">
      <p> What vacation spot do you have on your mind today? <br>
        Have you just learned of a really fun activites
        eye boggling scenery? <br><br>
        Well, why not save this great place and plan to visit it in person or dream about it
        before it slips away. 
        <br><br>
        Sign up with us and we can help save your "Wonderland" and all its "fun" in one place.
        <br><br>

      </p>
    </div>

    <div class="sidebar">
      <h3>Join the day dream community or step back to your dream here!</h3>
      <br>
      *<a href="/signup">Click</a> here to creat an account with us!!! 
      <br><br>
      *<a href="/login">Click</a> here for returning dreamers that wish to revist your dream vacation spot!!
    </div>

  </div>
</div>
